<footer class='c-footer'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>

      <ul class='o-plain-list c-social-nav u-text-center'>
        <li class='c-social-nav__item'>
          <li class='c-social-nav__item'>
  
<li class='c-social-nav__item'>
  <a href="https://x.com/digitaldreams08" target="_blank" aria-label="X">
    <svg viewBox="0 0 24 24" width="18" height="18" fill="currentColor">
      <path d="M3 3h4l5 7 6-7h3l-8 9 8 9h-4l-6-8-7 8H1l9-10L3 3z"/>
    </svg>
  </a>
</li>
        <!--<li class='c-social-nav__item'>
          <a href='{{ site.facebook }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
          </a>
        </li>-->
        <!--<li class='c-social-nav__item'>
          <a href='{{ site.instagram }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
          </a>
        </li>-->
        <li class='c-social-nav__item'>
          <a href='{{ site.github }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
          </a>
        </li>
        <a class="btn btn-rss" href="/feed.xml" target="_blank">RSS</a>
        <!--<li class='c-social-nav__item'>
          <a href='mailto:{{ site.email }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
          </a>
        </li>-->
      </ul>

    </div>
  </div>

</footer>
